.search-container {
  position: relative;
  width: 100%;
}

.search-input-wrapper {
  position: relative;
}

.search {
  margin: 0;
  font-size: 4rem;
  line-height: 1.5;
  color: #d9d9d9;
  position: relative;
  width: 100%;
  background: transparent;
  will-change: auto;
  transform: translateZ(0); /* Force hardware acceleration */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-suggestion {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  line-height: 1.5;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.search-prefix {
  visibility: hidden; /* Hide the part user has already typed */
}

.search-suffix {
  color: gray;
}
